# Virtual Environment
venv/

# VS Code
.vscode/

# Chroma Database
chroma_db/

# Data Files
data/

# Knowledge Base
knowledge_base.json

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env